<html>

  <head>
    <h3> Register </h3>
  </head>
  <body>

    <form method="POST" action="/register">
      <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Person Name" name="name" required>
        <br>

        <label for="cpf"><b>CPF</b></label>
        <input type="number" placeholder="12345678910" name="cpf">
        <br>

        <label for="role"><b>Role</b></label>
        <input type="radio" name="role" value="teacher"> <b>Professor</b> </label>
        <input type="radio" name="role" value="employer"> <b>Servidor</b> </label>
        <input type="radio" name="role" value="student" checked> <b>Aluno</b> </label>
        <br>

        <button type="submit">Register</button>
      </div>
    </form>
  </body>
</html>
