<html>

  <head>

    <style>
      * {
        color: white;
        font: normal normal normal 16px oswald;
      }

      body {
        background-color: #202020;
      }

      input, button {
        background: #303030;
        border-color: #505050;
      }
      </style>

    <h3> Register </h3>
  </head>
  <body>

    <form method="POST" action="/register">
      <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Person Name" name="name" required>
        <br>

        <label for="cpf"><b>CPF</b></label>
        <input type="number" placeholder="12345678910" name="cpf">
        <br>

        <label for="role"><b>Role</b></label>
        <input type="radio" name="role" value="teachers"> <b>Professor</b> </label>
        <input type="radio" name="role" value="employee"> <b>Servidor</b> </label>
        <input type="radio" name="role" value="students" checked> <b>Aluno</b> </label>
        <br>

        <button type="submit">Register</button>
        {% if error %}
        <br>
        <p style="color:red"> {{error}} </p>
        <br>
        {% endif %}
      </div>
    </form>
  </body>
</html>
