<html>

  <head>
    <style>
      * {
        color: white;
        font: normal normal normal 16px oswald;
      }

      body {
        background-color: #202020;
      }

      input, button {
        background: #303030;
        border-color: #505050;
      }

    </style>

    <h3> Admin login </h3>
  </head>

  <body>
    <div>
      <form method="POST" action="/attemptLogin">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name=username required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
      </form>
    </div>
    {% if err %}
      <br>
      <a> Warning: {{err}} <a>
      <br>
    {% endif %}
  </body>

</html>
